---
interface Props {
	title: string;
	body: string;
	href: string;
	repo:string;
	technologies: string [];
	img: string;
}

const { href, title, body, technologies,img ,repo} = Astro.props;
---


<li class=" place-content-center place-items-center max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:border-gray-500 hover:scale-105 hover:transition-all mt-12 animate-on-scroll">
    <a href={href}>
        <img class="rounded-t-lg" src={img} alt="" />
    </a>
    <div class="p-5">
        <a href={href}>
            <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white t-4 hover:text-gray-400">
			{title}
		</h5>
        </a>
		<section class="flex flex-wrap gap-3">
			{
			technologies.map((tech) => (
				<img src={tech} class="aspect-square h-10 mt-2"></img>
			))
			}
		</section>
        <p class="leading-snug">{body}</p>
		<section class="grid grid-row">
			{
				href ? (
        <a href={href} target="_blank" class="mt-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 transition-all active:transform active:translate-y-1 ">
          
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world-www" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path>
				<path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
				<path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
				<path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path>
				<path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
				<path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
				<path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
				<path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
				<path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
			</svg>
			  <label class="ps-2">Visita el resultado final</label>
        </a>
		) : null
	}
		 <a href={repo} target="_blank" class="mt-4 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white hover:bg-[#0c0d10] rounded-lg bg-[#17191e] focus:ring-4 focus:outline-none focus:ring-blue-300 transition-all active:transform active:translate-y-1">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z" stroke-width="0" fill="currentColor"></path>
			</svg>
			<label class="ps-2">Inspecciona el codigo</label>
        </a>
		</section>
    </div>
</li>


<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
